.header {
    margin: 25px 50px;
    text-align: center;
}

.main-container {
    margin: 25px 50px; //vertical and horizontal
}
.form-group.required .control-label:after {
  content:"*";
  color:red;
}