<!DOCTYPE html>
<html lang="en,vi"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css?family=Nova+Mono" rel="stylesheet"/>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="../static/css/style.css"/>
    <script src="https://kit.fontawesome.com/b8922613b9.js" crossorigin="anonymous"></script>

</head>
<body>
<div class="header">
    <h1>Subject</h1>
</div>
<div class="main-container">
    <div class="container">
        <th:block th:switch="${msg}">
<!--            <div th:case="'deleteFailed'" class="alert alert-danger" role="alert"> Delete fail!!!-->
<!--                <button aria-label="Close" class="close" data-dismiss="alert" type="button">-->
<!--                    <span aria-hidden="true">&times;</span>-->
<!--                </button>-->
<!--            </div>-->
            <div th:case="'createSuccess'" class="alert alert-success" role="alert"> Create success!!!
                <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div th:case="'createFailed'" class="alert alert-danger" role="alert"> Create fail!!!
                <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </th:block>
        <h3>Subject List</h3>
        <div class="text-right">
            <a th:href="@{/create}" class="btn btn-success mb-3">
                <i class="fa fa-plus" aria-hidden="true"></i> Add new</a></div>
        <div class="row">
            <div class="col-6">
                    <select class="form-control col-8" id="subjectDDL" th:field="*{options}"
                            th:onchange="'window.location.href = \'' + @{/filter} + '?department=\' + this.value '">
                        <option th:value="-1" >---------- Select departments --------------</option>
                        <option th:value="0">All departments</option>
                        <option th:each="option : ${options}" th:value="${option.id}"
                                th:text="${option.department}"></option>
                    </select>
            </div>
            <div class="col text-right">
                <form th:action="@{/search}" method="get">
                    <div class="input-group mb-3">
                        <input id="txtSearch" class="form-control" type="text" name="keyword"
                               placeholder="Enter a subject name or subject code"
                               aria-label="Enter a subject name or subject code"
                               aria-describedby="button-search"/>
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-outline-secondary" id="button-search"><i
                                    class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Subject Code</th>
                <th scope="col">Subject Name Vi</th>
                <th scope="col">Subject Name En</th>
                <th scope="col">Short Name</th>
                <th scope="col">Department</th>
                <th scope="col">Campus</th>
                <th scope="col">Grade</th>
                <th scope="col">Term</th>
                <th scope="col">Is Extra</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${subjects.empty}">
                <td colspan="2"> No Subjects Available</td>
            </tr>
            <tr th:each="subject : ${subjects}">
                <td><span th:text="${subject.subjectCode}"> </span></td>
                <td><span th:text="${subject.subjectNameVi}"> </span></td>
                <td><span th:text="${subject.subjectNameEn}"> </span></td>
                <td><span th:text="${subject.shortName}"> </span></td>
                <td><span th:text="${subject.department.department}"> </span></td>
                <td><span th:text="${subject.campus}"> </span></td>
                <td><span th:text="${subject.grade}"> </span></td>
                <td><span th:text="${subject.term}"> </span></td>
                <td><span th:text="${subject.isExtra} ? 'YES' : 'NO'"> </span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>